@font-face{
    font-family: 'Schnyder Cond XL Demi';
    src: url("../fonts/Schnyder_X_Condensed/Schnyder_X_Cond_XL_Demi.otf") format('truetype');
}
@font-face{
    font-family: 'TT Travels'; 
    src: url("../fonts/TT_Travel/TTTravels-Light.ttf") format('truetype');
}
